---
import Link from "./Link.astro";
---

<p class="mt-2">
  You can find me at <Link href="https://instagram.com/ttthhheeeeeeeee">instagram</Link>, <Link
    href="https://fb.me/panithi.makthiengtrong">facebook</Link
  >, <Link href="https://github.com/betich">github</Link>, <Link href="https://x.com/betichhh">twitter (x)</Link>, or
  contact me at my <Link href="mailto:contact@betich.me">email</Link>
</p>
