---
import ContactSection from "@/components/astro/contact.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <h1 class="text-lg font-bold">Contact</h1>

  <ContactSection />
</Layout>
