---
import Profile from "@/components/react/profile";
import Layout from "@/layouts/Layout.astro";
import ContactSection from "@/components/astro/contact.astro";
---

<Layout>
  <h1 class="text-lg font-bold">About</h1>

  <p class="mt-2">Hi, my name is Thee. I'm a full-stack developer based in Bangkok, Thailand.</p>
  <ContactSection/>

  <Profile client:load />
</Layout>
