---
import { FaGithub, FaInstagram, FaFacebook, FaLinkedin, FaTwitter } from "react-icons/fa";
---

<div class="flex items-center gap-3 not-prose">
  <a href="https://github.com/betich" target="_blank" rel="noreferrer">
    <FaGithub client:load className="social-icon" />
  </a>
  <a href="https://instagram.com/ttthhheeeeeeeee" target="_blank" rel="noreferrer">
    <FaInstagram client:load className="social-icon" />
  </a>
  <a href="https://fb.me/panithi.makthiengtrong" target="_blank" rel="noreferrer">
    <FaFacebook client:load className="social-icon" />
  </a>
  <a href="https://www.linkedin.com/in/betich/" target="_blank" rel="noreferrer">
    <FaLinkedin client:load className="social-icon" />
  </a>
  <a href="https://x.com/betichhh" target="_blank" rel="noreferrer">
    <FaTwitter client:load className="social-icon" />
  </a>
</div>
