---
import Headline from "@/components/atoms/astro/typography/headline.astro";
---

<div class="flex flex-col gap-4 font-sans prose-p:leading-loose">
  <Headline>Technical Contributions</Headline>
</div>
