---
// import { Facebook, Instagram, Linkedin, Twitter } from "lucide-astro";
import Link from "@/components/atoms/astro/link.astro";
import { FaInstagram, FaFacebook, FaLinkedin, FaTwitter, FaGithub } from "react-icons/fa";
---

<div class="mb-8 flex items-center justify-between">
  <div class="flex flex-col">
    <h1 class="text-2xl font-bold text-betich-dark dark:text-betich-light">betich</h1>
    <p class="font-mono text-sm">Panithi Makthiengtrong</p>
  </div>
  <div class="flex items-center gap-2">
    <Link href="https://github.com/betich">
      <FaGithub client:load className="social-icon" />
    </Link>
    <Link href="https://instagram.com/ttthhheeeeeeeee">
      <FaInstagram client:load className="social-icon" />
    </Link>
    <Link href="https://fb.me/panithi.makthiengtrong">
      <FaFacebook client:load className="social-icon" />
    </Link>
    <Link href="https://www.linkedin.com/in/betich/">
      <FaLinkedin client:load className="social-icon" />
    </Link>
    <Link href="https://x.com/betichhh">
      <FaTwitter client:load className="social-icon" />
    </Link>
  </div>
</div>

<style>
  .social-icon {
    @apply h-5 w-5 cursor-pointer text-gray-900 underline transition-colors duration-500 ease-in-out hover:text-betich-dark hover:no-underline dark:text-betich-light dark:hover:text-slate-500;
  }
</style>
