---
import { SITE_DESCRIPTION, SITE_TITLE } from "@/config";

const className = Astro.props && Astro.props.className;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TX1HHP7FPJ"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-TX1HHP7FPJ");
    </script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#4845DA" />
    <meta name="msapplication-TileColor" content="#4845DA" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{SITE_TITLE}</title>
    <meta name="description" content={SITE_DESCRIPTION} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Panithi Makthiengtrong (Thee)"
      href={new URL("feed.xml", Astro.site)}
    />
  </head>
  <body class={className}>
    <slot />
  </body>
</html>
