---
import cn from "@/utils/cn";
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout className="bg-white text-gray-900 dark:bg-zinc-900 dark:text-slate-50">
  <div class={cn("mx-auto flex min-h-screen w-full max-w-lg flex-col text justify-between px-2 pt-6 font-mono")}>
    <!-- <header>
      <nav class="flex justify-between py-4">
        <h1 class="text-base font-bold">betich</h1>
        <div class="flex items-center gap-4">
          <a class="" href="/">About</a>
          <a class="" href="/blog">Blog</a>
          <a class="" href="/projects">Projects</a>
          <a class="" href="/contact">Contact</a>
        </div>
      </nav>
    </header> -->
    <main class="relative flex flex-col gap-4 py-4">
      <slot />
    </main>
    <footer class="flex justify-between text-gray-600 dark:text-gray-300">
      <p class="py-4 text-center text-sm">Panithi Makthiengtrong (Thee)</p>
      <a
        class="cursor-pointer py-4 text-center text-sm underline hover:no-underline"
        href="https://github.com/betich/betich.me"
        target="_blank">Source</a
      >
    </footer>
  </div>
</BaseLayout>
